/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  
}

h1 {
    text-align: center;
    color: #333;
}

/* content */
.container {
    width: 80%;
    margin: auto;
}
.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* single recipe  */
.recipe-card {
    margin: 10px;
    background-color: white;
}

.recipe-card img {
    display: block;
    margin: 0 auto;
  }

.recipe-card p {
    padding: 10px;
    text-align: center;
}

/* FROM (login e.g) */
form {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*RATING */
.rating {
    text-align: center;
    margin-top: 20px;
}

.rating h3 {
    color: #333;
}

.rating .star {
    font-size: 24px;
    color: #f8d322;
}
