<html>
<head>
<meta charset="UTF-8">
<title>Receipts Database</title>
{% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">  
</head>


<body>
    <div style="float: right;">
        {% if user.is_authenticated %}
            <p>Hey! {{ user.username }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <form method="get" action="{% url 'search_receipts' %}">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
<div class="container_main">

<h2><a href="/brReceipt/categories"> Categories</a></h2>
<h2><a href="/brReceipt/random_receipt"> Random Receipt</a></h2>
{% if user.is_authenticated %}
<h2><a href="/brReceipt/add_receipt"> Add Receipe</a></h2>


  {% else %}
    <a href="/brReceipt/login/"><h2>Login to add receipe</h2> </a>
  {% endif %}

<h2><a href="/brReceipt/ranking"> Ranking</a></h2>
</div>
</body>
</html>
